*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 1px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #102f5e;
    color: #fdfdfd;
}

button:hover > i {
    color: #fdfdfd;
}

button i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

.todo-container{
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #3643f3b2;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #102f5e;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #102f5e;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

#toolbar{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #102f5e;
}

#toolbar h4{
    margin-bottom: 0.5rem;
}

#search{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #102f5e;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#filter select{
    flex: 1;
}

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #102f5e;
    transition: 0.3s;
}

.todo h3{
    flex: 1;
    font-size: 0.9rem;
}

.todo button{
    margin-left: 0.4rem;
}

.done{
    background-color: #395169;
}

.done h3{
    text-decoration: line-through;
    color: #fdfdfd;
}